body {
    background-color: #F9F2E8;
    padding: 0;
    margin: 0;
    padding-top: 170px;
}

.blueText {
    color: #1C9D93;
}

a {
    text-decoration: none;
}

p {
    font-family: 'FivoSans';
    font-weight: normal;
}

/* Nav */

nav {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
}

.top_nav{
    background-color: #F9F2E8;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 5px;
}

.nav_logo{
    width: auto;
    height: 90px;
    justify-self: center;
}

.nav_actions {
    display: flex;
    justify-self: end;
}

.profile_icon {
    width: auto;
    height: 40px;
}

.bottom_nav {
    align-items: center;
    padding: 0;
    font-family: "SHRIMP";
    font-size: 1.5rem;
    color: #E94141;
    width: 100%;
    height:min-content;
    background-color: #F9F2E8;
}

.bottom_nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bottom_nav li{
    margin-left: 3%;
    margin-right: 3%;
}

.active_url_nav{
    color: #46B3AA;
}

/* Bento Header */

.bentoHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bentoHeader img{
    width: clamp(100px,80%,800px);
    display: block;
}

.bentoHeader h1 {
    position: absolute;
    color: #E94141;
    font-size: 3rem;
    font-family: 'SHRIMP', sans-serif;
    text-align: center;
    text-shadow:
        -5px -5px 0 #F9F2E8,
         5px -5px 0 #F9F2E8,
        -5px  5px 0 #F9F2E8,
         5px  5px 0 #F9F2E8;
}

/* empty ento section */

.emptyBento {
    background-color: #1C9D93;
    width: clamp(100px, 70%, 700px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    padding-left: 30px;
    gap:20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    height: 200px;
    align-items: center;
    color: #F9F2E8;
    font-family: 'FivoSans', sans-serif;
}

.EmptyBentoCard {
    background-color: #F9F2E8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.EmptyBentoCard_left {
    flex: 1;
}

.EmptyBentoCard_right {
    flex: 1;
    color: #1C9D93;
}

/* Bento de l'équipe */

.teamBento {
    background-color: #E94141;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.teamBento_left {
    color: #F9F2E8;
    
}

.teamBento_left h2 {
    font-family: 'SHRIMP', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
}

.teamBento_left p {
    font-family: 'FivoSans',sans-serif;
    font-weight: 'regular';
}


/* Footer */

footer {
    margin-top: 100px;
    background-color: #E94141;
    padding: 200px;
}

/* Fonts */

@font-face {
    font-family: 'SHRIMP';
    src: url(../fonts/SHRIMP.ttf);
}

@font-face {
    font-family: 'FivoSans';
    src: url(../fonts/FivoSans-Regular.otf);
    font-weight: 'regular';
}